{% extends "base.html" %}

{% block body %}
<h2>Help me!</h2>
<div id="infos">
    <h3>It seems that I can only upload one file to this website, it sucks!</h3>
    <p>Yeah, at the moment, due to the limitations of html, it is impossible to upload
    folders directly. However, if you upload an archive (zip/tar) and enable the option "Extract
    archive" the torrent will contain the files of this archive, under a subdirectory
    named after the archive (minus the .extension part).
    </p>
    <h3>I just uploaded a file, what do I have to do?</h3>
    <p>You can share it with your friends, of anyone, if you give them a link
    to this page, to the torrent, or the magnet link.
    You should also start the torrent into your favorite torrent client, this way,
    you will be able to share it. If you don’t do that, the download speed for the
    people who want download the file will be smaller.
    </p>
    <h3>How do I delete a file if I don’t want to keep sharing it?</h3>
    <p>You have to go to the page for the file and enter the deletion password into
    the box at the bottom of the page. If you don’t have the password, we have no way
    of knowing if you are the initial uploader (because this service is entirely anonymous)
    and therefore we will not be able to comply with your request.
    <br/>
    You should also understand that because of the way the torrent network was built, the file
    cannot be remotely deleted on the computers of the file-sharers. So while the file is gone
    from the website, it can still be shared and accessible via a saved torrent file or magnet
    link.
    </p>
    <h3>I see "magnet link", what’s this?</h3>
    <p>Magnet links are created from the torrent file, in order to have 
    something easy to share between people, via text messaging or whatever.
    Technically, your torrent client will search people who have the torrent 
    file, and download it from them, then download the files in the torrent, 
    so it always need at least one client which has the torrent.
    Note that using magnet links does not give you the webseeds, so you are
    missing one of the advantages of this website (a minimal guaranteed bandwith).
    </p>
    <h3>What can I do here?</h3>
    {% if multifile %}
        <p class="info-ok">Multifile torrents are enabled</p>
    {% else %}
        <p class="info-important">Multifile torrents are disabled</p>
    {% endif %}
    {% if decompress %}
        <p class="info-ok">Compressed archives are enabled</p>
    {% else %}
        <p class="info-important">Compressed archives are disabled</p>
    {% endif %}
    {% if webseeds %}
        <p class="info-ok">Adding webseeds to the torrent is enabled</p>
    {% else %}
        <p class="info-important">Adding webseeds to the torrent is forbidden</p>
    {% endif %}
    {% if trackers %}
        <p class="info-ok">Adding trackers to the torrent is enabled</p>
    {% else %}
        <p class="info-important">Adding trackers to the torrent is disabled</p>
    {% endif %}
    {% if private %}
        <p class="info-ok">Creation of private torrents is allowed</p>
    {% else %}
        <p class="info-important">Creation of private torrents is forbidden</p>
    {% endif %}
    {% if pool %}
        <p class="info-ok">Torrents are shared by a server-side client</p>
    {% else %}
        <p class="info-important">Torrents are not shared by a server-side client</p>
    {% endif %}
    <p class="info">The max file size is {{size}} MiB</p>
    {% if default_trackers %}
    <div class="info">The default trackers are:
        <ul>
            {% for tracker in default_trackers %}
            <li><a href="{{tracker}}">{{tracker}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if mandatory_trackers %}
    <div class="info">The forced trackers are:
        <ul>
            {% for tracker in mandatory_trackers %}
            <li><a href="{{tracker}}">{{tracker}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}
