{% extends "base.html" %}
{% block body %}
<h2>Your torrent</h2>
<div id="description">
<dl>
<dt>Name</dt><dd>{{object.name}}</dd>
<dt>Size</dt><dd>{{object.size}} MiB</dd>
{% if object.uploader %}
<dt>Uploader</dt><dd>{{object.uploader}}</dd>
{% endif %}
{% if object.description %}
<dt>Description</dt><dd>{{object.description}}</dd>
{% endif %}
</dl>
</div>
{% if object.multifile %}
<h2>Files…</h2>
<section>
<pre id="files">{{object.get_files}}</pre>
</section>
{% endif %}
<h2>Notice</h2>
<section id="help">First timers, please read the <a href="{% url Help %}">Help</a> section of the website, if it isn’t already done.</section>
<section id="buttons">
<dl>
    <dt class="link"><a class="button" href="{{object.get_torrent_file}}">Download .torrent</a></dt>
    <dd><input type="text" class="link" readonly value="{{object.get_direct_torrent_file}}"/></dd>
{% if ddl and not object.multifile %}
    <dt class="link"><a class="button down" href="{{object.get_file}}">Download file</a></dt>
    <dd><input type="text" class="link" readonly value="{{object.get_direct_file}}"/></dd>
{% endif %}
    <dt class="link"><a class="button down" href="{{object.magnet}}">Magnet link</a></dt>
    <dd><input class="link" type="text" readonly value="{{object.magnet}}"/></dd>
</dl>
<br/>
<form method="POST" id="delete" action="/delete/" id="deletion">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{object.uuid}}"/>
    <label for="delete">Delete the file: </label><input type="password" id="delete" name="delete" placeholder="Password for deletion"/><input type="submit"/>
</form>
</section>
{% endblock %}
