{% extends "base.html" %}
{% block body %}
<h2>Your torrent</h2>
<div id="description">
<dl>
<dt>Name</dt><dd>{{object.name}}</dd>
<dt>Size</dt><dd>{{object.size}} MiB</dd>
{% if object.uploader %}
<dt>Uploader</dt><dd>{{object.uploader}}</dd>
{% endif %}
{% if object.description %}
<dt>Description</dt><dd>{{object.description}}</dd>
{% endif %}
</dl>
</div>
<h2>Files…</h2>
<section>
<pre id="files">{{object.get_files}}</pre>
</section>
<section id="buttons">
<a class="button" href="{{object.get_torrent_file}}">Download .torrent</a>
{% if ddl and not object.multifile %}
<a class="button" href="{{object.get_file}}">Download file</a>
{% endif %}
<a class="button" href="{{object.magnet}}">Magnet link</a>
<form method="POST" id="delete" action="/delete/" id="deletion">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{object.uuid}}"/>
    <label for="delete">Delete file: </label><input type="password" id="delete" name="delete"/><input type="submit"/>
</form>
</section>
{% endblock %}
