/*
**  Fonts
*/

/* Light */
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.eot') format('eof'),
         url('fonts/OpenSans-Light-webfont.svg') format('svg'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
/* Regular */
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.eot') format('eof'),
         url('fonts/OpenSans-Regular-webfont.svg') format('svg'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
}
/* Bold */
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('fonts/OpenSans-Bold-webfont.eot') format('eof'),
         url('fonts/OpenSans-Bold-webfont.svg') format('svg'),
         url('fonts/OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: bold;
}


/* General UI */

body {
	font-family: 'Open Sans', Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

.container {
	max-width: 800px;
}

.container.main {
  margin-top: 3em;
  margin-bottom: 3em;
}


.top-head, .menu-head {
  background-color: #FFF688;
}

.menu-head {
  padding-top: 2em;
}

.menu-head h1 {
  margin-bottom: 0;
  padding-bottom: 1em;
}

.menu-head * {
  line-height: 24px;
}

.top-head {
  padding-top: 2em;
  margin-bottom: 2em;
}


.small-header {
	text-transform: uppercase;
	font-size: 1.4rem;
	letter-spacing: .2rem;
	font-weight: 600;
}

.options-form p.columns, .options-form input, .options-form textarea {
  margin-bottom: 0;
}

.u-inline {
  display: inline;
}

#options {
  display: none;
}

a {
	text-decoration: none;
	color: black;
}

p a {
	color: #0A0A2E;
	border-bottom: 1px dotted #DD8F6F;
}

.button.button-danger {
  background-color: #D50000;
  color: white;
}


/* Box content */

.alert {
  margin: 0;
  padding: 0.5em;
}

.alert p {
  margin: 0;
}

.alert.alert-important {
	background: rgba(255, 7, 0, 0.5);
	color: #fff;
    text-align: center;
}

.alert.alert-ok {
	background: rgba(103, 228, 111, 0.5);
	color: #555;
}

.contrasted {
  background-color: #f5f5f5;
  margin-bottom: 1em;
  padding-bottom: 0;
}

dl {
  padding: 0.5em;
  margin-bottom: 0;
}

dl dt {
  float: left;
  clear: left;
  width: 150px;
  text-align: right;
  font-weight: bold;
}

dl dd {
  margin: 0 0 0 160px;
  padding: 0 0 0.5em 0;
}