{% extends "base.html" %}

{% block title %}
PleaseShare - {{ _('About') }}
{% endblock %}

{% block body %}
<div class="container main">
    <h4>{{ _('What is pleaseshare?') }}</h4>
    <p>
    {{ _('Pleaseshare is a file-sharing website, with "sharing" as its core value.') }}
    </p>
    <p>
    {{ _('It means that there won’t be a direct link on your file once you upload it, but pleaseshare
    will generate a torrent for you, with a webseed. Therefore, people who download the file will
    always get the best speed available (since there is a webseed, it will be at worst the same
    speed as if they downloaded it directly via http). It also means that the uploader can use this
    torrent to seed the file that is already on his computer, thus increasing the download speed for
    people on the other end.') }}
    </p>
    <h4>{{ _('Things to know') }}</h4>
    <p>
    {{ _('Please note that pleaseshare relies on the Bittorent DHT, which means that no trackers
    are needed to get peers.') }}
    {% if config.ALLOW_TRACKERS %} {{ _('You can provide trackers if you want, but you don’t have to.') }} {% endif %}
    {% if config.MANDATORY_TRACKERS %} {{ _('Trackers will be added by the server even if you don’t add them.') }} {% endif %}
    </p>
    <p>
    {{ _('You must also understand that, even if pleaseshare allows you to delete the files that you upload on this server, the torrent can still stay active without a webseed.') }}
    </p>
    <h4>{{ _('Licence') }}</h4>
    <p>
    {{ _('Pleaseshare is licenced under the AGPL v3, with some GPL bits coming from the deluge client.
    And the source is <a href="https://gitorious.org/pleaseshare" title="pleaseshare source">on gitorious</a>.') }}
    </p>
</div>
{% endblock %}
