<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}PleaseShare{% endblock %}</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/static/normalize.css" type="text/css"/>
        <link rel="stylesheet" href="/static/skeleton.css" type="text/css"/>
        <link rel="stylesheet" href="/static/style.css" type="text/css"/>
    </head>
    <body>
        {% block header %}
        <header class="menu-head">
            <div class="container">
                <section class="u-pull-left">
                <h1 class="small-header"><a href="{{ url_for("dynamic.home") }}">PleaseShare</a></h1>
                </section>
                <section class="u-pull-right">
                <nav>
                    {% if session['uploads'] %}<a title="{{ _('Your uploads') }}" href="{{ url_for("static.my_uploads") }}">{{ _('Your uploads') }}</a> |{% endif%}
                    <a title="{{ _('Need help?') }}" href="{{ url_for("static.help") }}">{{ _('Need help?') }}</a> |
                    <a title="{{ _('About') }}" href="{{ url_for("static.about") }}">{{ _('About') }}</a> |
                    <a title="{{ _('Terms of Service') }}" href="{{ url_for("static.tos") }}">{{ _('ToS') }}</a> |
                    <a title="{{ _('Contact') }}" href="{{ url_for("static.contact") }}">{{ _('Contact') }}</a>
                </nav>
                </section>
                <section class="clear"></section>
            </div>
        </header>
        {% endblock %}

        {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors %}
                {%- for msg in errors %}
                <p class="alert alert-important">{{ msg }}</p>
                {% endfor -%}
            {% endif %}
        {% endwith %}
        {% with success = get_flashed_messages(category_filter=["success"]) %}
            {% if success %}
                {%- for msg in success %}
                <div class="alert alert-ok">
                    <div class="container">
                        <p>{{ msg }}</p>
                    </div>
                </div>
                {% endfor -%}
            {% endif %}
        {% endwith %}

        <div class="row">
        {% block body %}{% endblock %}
        </section>
    </body>
</html>
