{% extends "base.html" %}

{% block title %}
{{ _('Uploads') }}
{% endblock %}

{% block body %}
<div class="container main">
    <h4>{{ _('Your uploads') }}</h4>

    {% if session['uploads'] %}
    <table class="u-full-width">
        <thead>
            <tr>
                <th>Date</th>
                <th>Upload</th>
            </tr>
        </thead>
        <tbody>
            {% for datetime, uid, name in session['uploads'] %}
            <tr>
                <td>{{ datetime.strftime('%Y-%m-%d %H:%M') }}</td>
                <td><a href="{{ url_for('dynamic.view', filename=uid) }}" title="{{name}}">{{name}}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>{{ _('No uploads.') }}</p>
    {% endif %}
</div>
{% endblock %}
